@import "~antd/dist/antd.css";

.searchForm {
  text-align: center;
  padding-left: 450px;
  padding-right: 450px;
  padding-top: 13px;
}
button {
  margin-top: 25px;
  margin-bottom: 25px;
}
.list {
  margin-top: 15px;
}
.list {
  text-align: center;
  align-content: center;
}
